<h1>My Tasks:</h1>
<%= link_to "Add a new task", tasks_new_path %>

  <% @tasks.each do |task| %>
  <p><%= link_to task.title, task_path(task) %></p>
  <%= link_to "Have a look", tasks_path(@task) %>
  <% end %>

